{
 :deps {org.clojure/clojure {:mvn/version "RELEASE"}}
 :aliases {
           ;; - see https://nrepl.org/
           ;; - start a basic nREPL server on a random available port:
           :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "RELEASE"}}
                   :main-opts ["-m" "nrepl.cmdline"]}
           ;; - see https://nrepl.org/
           ;; - start a CIDER-enhanced nREPL server on a random available port:
           :cider-nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "RELEASE"}}
                         :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
           }
}
